node_modules
.env
.env.local
.env.production

src/config/firebaseServiceAccount.json
src/config/firebaseServiceAccount.json.json
*firebase-adminsdk*.json
serviceAccountKey.json

npm-debug.log
yarn-error.log
logs
*.log

.DS_Store

build
dist
coverage